{% extends "base.html" %}

{% block content %}
<section class="table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table border="1">
                    <div class="caption">{{ caption }}</div>
                    <tr>
                     <th>Название</th>
                     <th>Колличество</th>
                     <th>Расстояние</th>
                     <th>Дата</th>
                    </tr>
                    {% for row in rows %}
                    <tr><td>{{ row.title }}</td><td>{{ row.count }}</td><td>{{ row.distance }}</td><td>{{ row.date|date:"d.m.Y" }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}